:root {
   --blue-10: #a8dadc;
   --blue-30: #457b9d;
   --blue-40: #1d3557;

   --gray-10: #e5e5e5;
   --gray-50: #2b2d42;

   --white-10: #f1faee;
   --black: #000;

   --red-10: #e63946;

   // [] Reset Fonts
   font-size: 62.5%;
}
