//[] GLOBAL STYLES

* {
   text-decoration: none;
}

html {
   font-family: "Ubuntu", sans-serif;

   body {
      font-size: 1.6rem;
   }
}

textarea,
input,
input:focus {
   box-shadow: 0 0 0 0;
   outline: 0;
}
