@import "variables";
@import "global";

//! HEADER
.header__banner {
   width: 100%;
   height: 60rem;
   background-image: url("../../assets/capa2.jpg");
   background-position: center;
   position: relative;

   .hero__container {
      width: 40rem;
      height: 20rem;
      text-align: center;
      position: absolute;
      right: 10rem;
      bottom: 25rem;

      .hero__background {
         width: 100%;
         height: 100%;
         background-color: var(--black);
         opacity: 0.8;
         position: relative;
      }
      .hero__banner_title {
         position: absolute;
         width: 100%;
         text-align: center;
         top: 0;
         color: var(--white-10);
         padding-top: 6.5rem;

         h1 {
            font-size: 3.2rem;
            margin-bottom: 2.5rem;
         }
         p {
            font-size: 2rem;
         }
      }
   }

   .company__info_container {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 17.5rem;

      .company__info_background {
         width: 100%;
         height: 100%;
         background-color: var(--gray-10);
         opacity: 0.9;
      }

      .company__info_title {
         position: absolute;
         padding-left: 10%;
         top: 4rem;
         width: 70rem;

         h2 {
            margin-bottom: 3rem;
            font-size: 2.4rem;
         }

         h2,
         p {
            color: var(--blue-40);
         }
      }
   }
}

//! Services
.services__container {
   max-width: 1200px;
   padding: 3rem 10%;
   padding-bottom: 0;

   .hero__services {
      width: 100%;
      position: relative;
      clear: both;
      height: 15rem;
      margin-bottom: 3rem;

      &:last {
         margin-bottom: 0;
      }

      #management__title {
         color: var(--blue-40);
      }
      #development__title {
         color: var(--blue-30);
      }
      #design__title {
         color: var(--blue-10);
      }
      #hero__management {
         background-color: var(--blue-40);
      }
      #hero__development {
         background-color: var(--blue-30);
      }
      #hero__design {
         background-color: var(--blue-10);
      }

      .hero__services_title {
         width: 30%;
         height: 15rem;
         background-color: var(--gray-10);
         float: left;
         text-align: center;
         line-height: 15rem;
         padding: 2rem;
         box-sizing: border-box;

         p {
            padding-top: 3.5rem;
            color: var(--white-10);
            font-size: 1.8rem;
            line-height: 2.4rem;
         }
      }

      .hero__services_description {
         width: 70%;
         float: left;
         padding: 3rem;
         box-sizing: border-box;

         h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
         }

         p {
            font-size: 1.4rem;
            line-height: 2.2rem;
         }
      }
   }
}

//! FOOTER
.footer__container {
   background-image: url("../../assets/rodape.jpg");
   background-position: center;

   .about__container {
      max-width: 1200px;
      padding: 3rem 10%;
      position: relative;
      clear: both;

      .middle__card {
         margin-left: 5%;
         margin-right: 5%;
      }

      .about__card {
         float: left;
         width: 30%;
         padding: 3rem;
         background-color: var(--white-10);
         text-align: center;
         box-sizing: border-box;

         i {
            font-size: 5rem;
            color: var(--blue-10);
         }

         p {
            margin-top: 5rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: var(--gray-50);
            text-align: left;
         }
      }
   }
}
